body {
  width: 375px;
  margin: 0;
}

header {
  background-color: #3c3a39;
}

nav {
  height: 48px;
  width: 375px;
  display: flex;
  align-items: center;
  left: 0;
  top: 44px;
  border-radius: 0;
}

#logo-placeholder {
  display: flex;
  align-items: center;
  position: absolute;
  left: 12px;
  height: 44px;
  width: 101px;
}

h2 {
  height: 24px;
  width: 77px;
  left: 12px;
  top: 10px;
  border-radius: nullpx;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 10px 12px 10px 12px;
}

#normal-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 40px;
  width: 40px;
  left: 311px;
}

#menu-button {
  width: 24px;
  height: 24px;
  left: 8px;
  top: 8px;
  border-radius: 0;
  display: flex;
  order: 0;
  flex-grow: 0;
  padding: 8px;
}

#headline {
  background-color: #1c1a19;
  height: 590px;
  width: 375px;
  left: 0;
  top: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

#primary-text {
  left: 24px;
  top: 120px;
  border-radius: nullpx;
  width: 327px;
  height: 124px;
  margin: 0;
  position: absolute;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#supporting-text {
  position: absolute;
  left: 24px;
  top: 256px;
  width: 327px;
  height: 27px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#description {
  height: 123px;
  width: 327px;
  left: 24px;
  top: 295px;
  border-radius: nullpx;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0;
}

#social-media {
  left: 24px;
  top: 430px;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: absolute;
  width: 200px;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

#background-decoration {
  position: absolute;
  border-radius: 0;
  left: 228px;
  top: 225px;
}
