body {
  max-width: 100vm;
  max-height: 100vh;
  margin: 0;
}

.container {
  list-style: none;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #3c3a39;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}

#logo-placeholder {
  padding: 10px 12px;
  margin: 2px 12px;
}

a {
  border-radius: nullpx;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  order: 0;
  text-decoration: none;
}

#normal-button {
  align-items: flex-start;
  padding: 8px;
  margin: 4px 24px;
}

#headline {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  background-image: url(/icons/Illustration.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 120px 24px;
  gap: 12px;
  align-items: flex-start;
  flex: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

#primary-text {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

#supporting-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

#description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

#social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
}